<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Student View</title>
</head>
<body>
<div class="container">
    <div class="row" id="main-row">
        <div class="col-9">
            <div class="row">
                <div class="col">
                    <h1 class="text-center">Week 1</h1>
                    <table class="table table-striped table-dark">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Mon</th>
                            <th scope="col">Tue</th>
                            <th scope="col">Wed</th>
                            <th scope="col">Thu</th>
                            <th scope="col">Fri</th>
                            <th scope="col">Sat</th>
                            <th scope="col">Sun</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Morning</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">Afternoon</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1 class="text-center">Week 2</h1>
                    <table class="table table-striped table-dark">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Mon</th>
                            <th scope="col">Tue</th>
                            <th scope="col">Wed</th>
                            <th scope="col">Thu</th>
                            <th scope="col">Fri</th>
                            <th scope="col">Sat</th>
                            <th scope="col">Sun</th>
                        </tr>
                        </thead>
                        <tr>
                            <th scope="row">Morning</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">Afternoon</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <div class="col align-self-center">
                    <h1>Clerkships</h1>
                    <div class="btn-group-vertical btn-group-lg align-self-center" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary bg-dark">Neurology</button>
                        <button type="button" class="btn btn-secondary bg-dark">Family Medicine</button>
                        <button type="button" class="btn btn-secondary bg-dark">Internal Medicine</button>
                        <button type="button" class="btn btn-secondary bg-dark">Surgery</button>
                        <button type="button" class="btn btn-secondary bg-dark">ER</button>
                        <button type="button" class="btn btn-secondary bg-dark">Ob/Gyn</button>
                        <button type="button" class="btn btn-secondary bg-dark">Pediatrics</button>
                        <button type="button" class="btn btn-secondary bg-dark">Phychiatry</button>
                        <button type="button" class="btn btn-secondary bg-dark">IM Sub-Specialty</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>