<!DOCTYPE html>
<html lang="en" xmlns:mvc="http://www.springframework.org/schema/mvc">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>

    <mvc:resources mapping="/resources/**" location="/resources/" />

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


</head>
<body>
<button id="stu">students</button>


<script>

    var arg = "students";

    var caller = {
        "grab": arg
    }


    $("#stu").click(function(){
        caller["grab"] = "students";
        getData();
    });

    function getData(){

        $.ajax({

            type: "POST",
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            url: "/grabStudents", // route to hit
            data: JSON.stringify(caller), // IMPORTANT

            success: function (result) {

                console.log(result);

            }
        });

    }

    </script>
</body>
</html>